footer {
	padding: 2rem 0;
	& .container {
		@include flex(row, space-between, center);
		& .footer-action {
			text-align: left;
			gap: 2.5rem;
			flex: 1;
			color: #fff;
			padding-right: 4rem;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: center;
			align-content: flex-start;
			align-items: flex-start;

			& ul {
				display: flex;

				justify-content: center;
				align-items: center;
				& li {
					list-style-type: none;
					margin-right: 0.7rem;
					& :hover img {
                        filter: invert(62%) sepia(99%) saturate(373%) hue-rotate(80deg) brightness(92%) contrast(88%);
					}
				}
			}
		}
		& .footer-nav {
			flex: 1;
			height: 100%;

			& ul {
				width: 220px;
				display: flex;
				flex-wrap: wrap;
				list-style-type: none;
				gap: 0.75rem;
				& li {
					width: 100px;
					& :hover {
						color: $lime-green;
					}
					& a {
						font-size: 14px;
						color: #fff;
						text-decoration: none;
					}
				}
			}
		}
		& .footer-cta {
			flex: 2;
			text-align: right;
			& button {
				@include btn($gradient, $White, transparent);
			}
			& p {
				padding-top: 1.5rem;
				font-size: 14px;
				color: $Grayish-Blue;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	footer {
		& .container {
            padding-top: 2rem;
            flex-direction: column;
			& .footer-action {
				padding-right: 0;
				gap: 1.5rem;
				margin-bottom: 1.5rem;
				& ul {
					flex-wrap: wrap;
					& li a img {
					}
				}
			}
			& .footer-nav {
				& ul {
					width: auto;
					flex-direction: column;
					text-align: center;
					margin-bottom: 1.5rem;
				}
			}
			& .footer-cta {
				text-align: center;

				& p {
					font-size: 12px;
				}
			}
		}
	}
}
@media screen and (max-width: 550px) {
	footer {
		& .container {
			& .footer-action {
				gap: 20px;

			}
		}
	}
}
