#services {
	padding-top: 80px;
	& p {
		max-width: 600px;
		padding-bottom: 2rem;
		color: $Grayish-Blue;
		font-size: 16px;
	}
	& .services-wrapper {
		padding-top: 2rem;
		display: flex;
		& div {
			margin-right: 1rem;
			& img {
				padding-bottom: 1.5rem;
			}
			& h3 {
				padding-bottom: 1.5rem;
			}
			& p {
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
}
@media screen and (max-width: 900px) {
	#services {
		text-align: center;
		padding-bottom: 80px;

		& p {
			margin: auto;
		}
	}
	.services-wrapper {
		justify-content: center;
		flex-wrap: wrap;
	}
}
